@import "outrosCapitulos.css";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #00000010;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
h2 { font-size: 40px; }
h3 { font-size: 25px; }
p { font-size: 18px; line-height: 22px; }
#voltar-topo a {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #00000040;
    background: #242424;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
#voltar-topo a:hover {
    background: white;
    color: black;
    border: 1px solid black;
}
img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 8px black;
}
span {
    font-weight: bold;
    color: red;
}

/* Capa */
#capa {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#capa-ano {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 2.5em;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 260px;
    right: 360px;
    border: 2px solid red;
    color: red;
    transform: rotate(-10deg);
}
#capa img {
    border: none;
    box-shadow: none;
}
#capa-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#capa-descricao {
    margin-top: 40px;
    text-align: justify;
    padding: 0 60px;
    font-weight: 600;
}
#capa-contatos {
    margin-top: 60px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    line-height: 22px;
    box-shadow: 2px 2px 7px #00000080;
}
#capa-contatos a {
    color: blue;
}
#capa-contatos a:hover {
    color: #0c0c66;
}

/* Sumario */
#sumario {
    background-image: linear-gradient(#00000007 50%, #00000040);
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}
#sumario h2 {
    justify-content: center;
    margin-bottom: 20px;
}
#sumario ul {
    list-style: none;
    line-height: 30px;
    font-size: 20px;
}
#sumario a {
    color: blue;
}
#sumario a:hover {
    color: #0c0c66;
}

/* Introdução */
#introducao {
    margin-top: 90px;
    width: 700px;
    text-align: left;
}
#introducao h2 {
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}
